* {
  box-sizing: border-box;
  /* background-color: slategray; */
}

body {
  margin: auto;
  width: 90%;
  font-family: Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  background-color: #252500;
  color: #BBB;
  line-height: 1.4em;
  padding-bottom: 1em;
}

a {
  color: #AAAAFF;
}

/*
a:visited {
  color: #8888FF;
} */

main {
  flex-direction: column;
  display: flex;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
}

nav {
  padding: 1em 0;
  display: flex;
}

nav a {
  border-right: solid #606DFA 2px;
  padding: 1em;
  width: 33.33%;
  text-align: center;
}

nav > a:first-child {
  padding-left: 0;
}

.left-side {
  width: 37.5%
}

.right-side {
  width: 62.5%;
  margin: 0.5em;
}

.right-side section {
  padding: 0 1em;
}

.large-image {
  border: 2px solid #606DFA;
  padding: 1em;
  width: 100%;
  height: 100%;
}

li {
  padding-top: 0.4em;
}

li:first-child {
  padding: 0em;
}

.project h2 {
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-content: space-around;
  border: 2px solid #505DFA;
}

.project img {
  height: 6em;
  width: 6em;
  display: inline-block;
  margin: 1em;
}

.project-info {
  padding: 1em;
}

@media (max-width: 800px) {
  body {
    width: 95%;
  }
  .left-side, .right-side {
    width: 100%;
  }
  #about {
    flex-direction: column-reverse;
  }
  .project {
    flex-direction: column;
  }
  .project img {
    margin: 0.5em;
  }
  .project-info {
    padding: 0.1em;
  }
  .project h2 {
    padding: 0.5em;
  }
}

@media (min-width: 600px) {
  nav a:last-child {
    border-right: none;
  }
}

@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
    padding: 0.1em;
    margin: 0em;
  }

  nav a {
    padding: 0.5em;
  }
}

.index {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.index div {
  font-size: 2.1em;
  padding: 1em;
}
