* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 90%;
}

main {
  flex-direction: column;
  display: flex;
}

nav {
  padding: 1em 0;
  display: flex;
}

nav a {
  border-right: solid grey 2px;
  padding: 1em;
  width: 25%;
  text-align: center;
}

nav a:last-child{
  border-right: none;
}

#about{
  display: flex;
}

@media (max-width: 900px) {
  body {
    width: 95%;
  }
}

.contact-icon {
  width: 1.4em;
  height: 1.4em;
}

.project h2 {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.project img {
  height: 4em;
  width: 4em;
  display: inline-block;
  /* align-self: flex-start; */
}