<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/media-queries.css">
  <link rel="icon" href="{{ site.url }}/assets/images/glyph.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <nav class="left-side">
    <a href="{{ site.url }}/about.html">About/Contact</a>
    <a href="{{ site.url }}/faq.html">FAQ</a>
    <a href="https://github.com/ForrestWeiswolf">Software</a>
    <a href="{{ site.url }}/music.html">Music</a>
    <a href="{{ site.url }}/miscellania.html">Miscellania</a>
  </nav>
  <main>
    {{ content }}
  </main>
</body>

</html>