<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <nav class="left-side">
    <a href="./index.html">About</a>
    <a href="./faq.html">FAQ</a>
    <a href="./code_projects.html">Software</a>
    <a href="./music.html">Music</a>
    <!-- <a href="./misc.html">Miscelania</a> -->
  </nav>
  <main>
    {{ content }}
  </main>
</body>

</html>